/* Reset default margin and padding */
*{
    margin: 0;
    padding: 0;
    /* width: 100%; */
    background-color: #181227;
    color:white;
    font-family: 'Raleway', sans-serif;
  } 
 header {
    padding:18px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
  .navbar {
    padding:3px;
    font-size: 20px;

  }
  nav ul {
    list-style: none;
    display: flex;

  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }
  nav li {
    margin-right: 6rem;
    display: flex;
    justify-content: end;
   
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .intro-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
   margin-left: 30px;
   margin-right: 30px;
    width: 100%;
    color: #fff;
    /* margin-top: 1rem; */
  }
  
  .intro-section h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  
  .intro-section h2 {
    font-size: 2rem;
  }
  
  .intro-section p {
    margin-top: 1rem;
    font-size: 19px;
    line-height: 39px;
  }
  .cards{
    display: flex;
    width: 100%;
    justify-content: center;

  }
  #projects h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 38px;
  }
  .photo{
    padding:2rem;
  }
  .project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 40%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #fff; */
}

.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.project-links a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
  footer {
    bottom: 0;
    position:relative;
    text-align: center;
    padding: 1rem;
    bottom: 0px;
    height: 30px;
  }
  .findme{
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 23px;
    text-align: center;
    width: 100%;
   line-height: 80px;
  }
  .findme h2{
    font-weight: bold;
    font-size: 38px;
  }
  .logos{
    margin-top: 2rem;
    cursor: pointer;
  }
  #logo{
    margin-left: 2rem;
  }
  #know-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
  }
  #know-me h2{
    font-size: 38px;
    font-weight: bold;
  }
  #know-me p{
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  .strive{
    font-size: 25px;
    margin-bottom: 5rem;
  }
  .apart{
    margin-bottom: 2rem;
    
  }
  .hi{
    font-family:Raleway,serif ;
    font-size: 30px;
  }
  .prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }
  #profiles{
    padding-bottom: 1.5rem;
    font-size: 38px;
    font-weight:bold;
  }
  .prof p{
    font-size: 23px;
  }
 .prof ul{
  display:flex ;
 list-style: none;
 }
 .leet{
  margin-top: 20px;
 }
 .prof li{
  margin-right: 35px;
 }
 .prof li a{
  text-transform: none;
 }
 /* Style the footer section */
footer {
  position: relative;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
 width: 900px;
  margin: 0 auto;
}

.developed-by {
  /* flex-grow: 0; */
  text-align: right;
  padding-right: 10px; /* Add some padding on the right side */
}

.contact-icons {
  display: flex; /* Make the icons container a flex container */
  align-items: center; /* Vertically align the icons */
  
}

.footer-icon {
  text-decoration: none;
  margin-left: 3rem;
  font-size: 24px;
}

/* Style Font Awesome icons */
/* .fa-envelope,
.fa-phone,
.fa-linkedin {
  vertical-align: middle;
} */
