* {
    margin: 0;
    padding: 0;
   
  }
  .navbar {
    /* background-color: #333; */
    background: #4b2204;
    color: white;
    padding: 10px 0;
    display: block;
    position: absolute; 
    width: 100%;
    /* Linear Gradient from #3498db (Light blue) to #2980b9 (Slightly darker blue) */
  }
  .container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
.nav-links li {
    margin-right: 20px;
  } 
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffc107;
  }
 
  .main {
    background-image: url('./bgpic.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 0;
}
.main-content {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.cta-button {
  display: inline-block;
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;

}
.cta-button:hover {
  background-color: #e65100;
}
.main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.main p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.features {
  background-color: white;
  padding: 70px 0; 
  text-align: center;
}
.feature-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  color: #666;
}
.features::after {
  content: "";
  display: table;
  clear: both;
}


.feature {
  display: inline-block;
  max-width: 300px;
  margin: 0 20px;
  padding: 20px;
  background-color: #f9f9ae;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
/* Footer styles */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: white;
}
.footer {
  background-color: #4b2204;
  color: #fff;
  text-align: center;
  padding: 20px 0; 
  position: absolute;
  bottom: 0;
  width: 100%;
}


  


  